<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>ergoCubSN001</name>
    <version>1.0</version>
    <sdf version='1.7'>model.urdf</sdf>
    <author>
        <name>Nicolo' Genesio</name>
        <email>nicolo.genesio@iit.it</email>
    </author>
    <description>Model for the ergoCub humanoid robot.</description>
</model>
